/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.mar-ver-1{
    margin: 1rem 0;
}

.mar-ver-2{
    margin: 2rem 0;
}

.white{
    color: white;
}

.grey{
    color: #a3a3a3;
}

.inline{
    display: inline;
}

a{
    text-decoration: none;
}

nav{
    background-color: black;
    width: 250px;
    height: calc(100vh - 10vh);
}

nav i{
    padding-right: 0.5rem;
}

div.upper-logo img{
    width: 170px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.upper-logo .small-logo{
    display: none;
}

.buttons, .playlist, .account{
    padding: 0 1rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 0.9rem;
}

nav, .buttons{
    position: relative;
}

.border{
    position: absolute;
    top: 0px;
    left: 0;
    background: greenyellow;
    width: 3px;
    height: 32px;
}

.playlist h1{
    font-size: 0.9rem;
    padding-top: 1rem;
}

.playlist ul li .fa-square-plus{
    font-size: 45px;
    vertical-align: middle;
}

.upper-logo, .upper-button{
    height: 75px;
}

.account{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.account img{
    border-radius: 50%;
    aspect-ratio: 1;
    height: 1.5rem;
    background-color: gray;
    margin: 1rem 0.3rem 0 0;
}

.account a:last-child{
    vertical-align: text-bottom;
}

.account i{
    margin-left: 0.2rem;
}

.contents{
    background-color: #141922;
    width: 90%;
    height: calc(100vh - 10vh);
    overflow: auto;
}

.contents .upper-button{
    justify-content: end;
    align-items: center;
    background-color: #080b12;
}

.cont-menu{
    margin-top: 1rem;
    justify-content: center;
}

.cont-menu li{
    padding: 1rem 0.5rem;
    display: inline;
}

li{
    list-style: none;
    color: #a3a3a3;
}


.rec-played, .for-you, .popular{
    margin: 1rem;
}

.album{
    text-align: center;
    width: calc(100% / 6 - 1rem);
    margin-right: 1rem;
}

.album img{
    width: 100%;
}

.popular .album img{
    border-radius: 50%;
}

.contents h2{
    font-size: 1.2rem;
}

.contents h3{
    font-size: 0.8rem;
    color: #a3a3a3;
}

footer{
    background-color: #282828;
    width: 100vw;
    height: 10vh;
}